@charset "UTF-8";

@media screen and (min-width:760px) {

    html,body{
        box-sizing: border-box;
    }
    
    section{
        display: inline;
        height: 600px;
        width: 800px;
    }

    #div1{
        width: 400px;
        height: 600px;
        margin: auto auto auto -2px;

    }

    #div1>h2{
        font-size: 1.5em;
        padding-top: 40px;
    }

    #div1>h1{
        margin: 0px 0px 0px 0px;
        font-size: 2em;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    #div1>p{
        margin-left: 23%;
        font-size: 1.1em;
        text-align: center;
        margin: 0px auto 0px auto;
    }
    
    #div1>#circulo{
        width: 190px;
        height: 190px;
        margin: 25px auto 0px auto;
     }

     #circulo>p.tet{
        font-size: large;
    }
    #circulo>.num{
        font-size: 5em;
        margin-top: 30px;
    }


    #div2{
       width: 100%;
       height: 100%;
       /*border: 1px solid black;*/
       margin: -608px 0px 0px 25px;
       padding: 5px;
       display: block;
       background-color: transparent;
    }

    #div2>h1{
        font-size: 1.5em;
        padding: 40px 0px 20px 0px;
        text-align: center;
        margin: 0px -100px 0px 0px;
        color: var(--preto);
        margin-bottom: 20px;
    }

    #div2>span{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #DECC9C;
        padding: 20px;
        margin:0px auto 23px 400px;
        width: 300px;
        border-radius: 10px;
    }
    
    #div2>span.verm{
         background-color: #eda7af3f;
         margin-bottom: 30px;
    }
    #div2>span.verm>span{
        display: flex;
        align-items: center;
    }
    #div2>span.verm>span>p{
        color: #f35063;
     }
    #div2>span.amal{
        background-color: #dece9c2f;
        margin-bottom: 30px;
     }
     #div2>span.amal>span{
        display: flex;
        align-items: center;
    }
    #div2>span.amal>span>p{
        color: #e3b840;
     }
     #div2>span.verd{
        background-color: #afe8e12e; 
        margin-bottom: 30px;
     }
     #div2>span.verd>span{
        display: flex;
        align-items: center;
    }
    #div2>span.verd>span>p{
        color: #1fbba9;
     }
     #div2>span.azul{
        background-color: #2e37842f;
        margin-bottom: 30px;
     }
     #div2>span.azul>span{
        display: flex;
        align-items: center;
    }
    
    #div2>span.azul>span>p{
       color: #071ac6;
    }
    
    
    #div2>span>p>strong{
      color: var(--preto);
    }
    #div2>span>p>em{
       font-style: normal;
       color: #313e59c6;
    }

    section>div#div2>input{
        width: 340px;
        padding: 20px;
        display: block;
        margin: auto 60px auto auto;
        border-radius: 30px;
        text-transform: capitalize;
        font-family: var(--txt021);
        background-color: #313E59;
        color: white;
        font-size: medium;
    }

    section>div#div2>input:hover{
        background-image: linear-gradient(to top,blue,#401dee,#4f2ef3,#6546ff);
        cursor: pointer; 
        border-color: #6546ff;
    }

}
