@charset "UTF-8";

@font-face {
    font-family: 'baixado01';
    src: url('../fonts/HankenGrotesk-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'baixado020';
   
    src: url('../fonts/static/HankenGrotesk-Medium.ttf') format('truetype');

}
@font-face {
    font-family: 'baixado021';
   
    src: url('../fonts/static/HankenGrotesk-Bold.ttf') format('truetype');

}
@font-face {
    font-family: 'baixado022';
   
    src: url('../fonts/static/HankenGrotesk-ExtraBold.ttf') format('truetype');
}


:root{
    /*cores do quadro roxo*/
    --cima:#5941F2;
    --baixo:#3C35F2;
    --txtdosegtito:#7672F2;
    /*bola roxo*/
    --alto:#4925D1;
    --bottom:#4636F1;
    --branco:#F2F2F2;
    --preto:#313E59;
    /*cores parte 3*/
    --cor01:#EDA7AF;
    --cor02:#DECC9C;
    --cor03:#AFE8E1;
    --cor04:#2E3784;

    --txt01:'baixado01';
    --txt020:'baixado020';
    --txt021:'baixado021';
    --txt022:'baixado022';
}

*{
    margin: 0px;
    padding: 0px;
}
html,body{
    height: 100vh;
    width: 100vw;
    position: relative;
}

section{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid red;
    height: 700px;
    width: 350px;
}

#div1{
    border: 1px solid yellow;
    height: 280px;
    border-radius: 0px 0px 40px 40px;
    background-image: linear-gradient(to top,blue,#401dee,#4f2ef3,#6546ff);
}
#div1>h2{
    text-align: center;
    color: rgba(255, 255, 255, 0.778);
    font-family: var(--txt020);
    font-weight: lighter;
    text-transform: capitalize;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.114);
    font-size: medium;
    padding: 10px;
}
#div1>#circulo{
   text-align: center;
   background-image: linear-gradient(to top,#5131ef,#4d33d1,#4224da);
   width: 70px;
   height: 70px;
   padding: 20px;
   display: block;
   margin: auto;
   border-radius: 50%;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.114);
   color: var(--branco);
}
#circulo>p.tet{
    color: rgba(255, 255, 255, 0.778);
    font-family: var(--txt01);
    font-size: small;
}
#circulo>.num{
    font-size: 3em;
    font-weight: bold;
    font-family: var(--txt01);
    color: var(--branco);
}
#div1>h1{
    text-align: center;
    color: white;
    font-family: var(--txt021);
    text-transform: capitalize;
    margin-top: 10px;
    padding: 6px;
}
#div1>p{
    width: 240px;
    display: block;
    margin: auto;
    color: rgba(255, 255, 255, 0.778);
    font-family: var(--txt020);
    font-size: 14px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.084);
}

#div2{
    padding: 30px;
    font-family: var(--txt020);
    text-transform: capitalize;
    border: 1px solid green;
    border-radius: 10px 10px 0px 0px;
}

#div2>h1{
    font-size: medium;
    color: var(--preto);
    margin-bottom: 20px;
}

#div2>span{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DECC9C;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

#div2>span.verm{
     background-color: #eda7af3f;
}
#div2>span.verm>span{
    display: flex;
    align-items: center;
}
#div2>span.verm>span>p{
    color: #f35063;
 }
#div2>span.amal{
    background-color: #dece9c2f;
 }
 #div2>span.amal>span{
    display: flex;
    align-items: center;
}
#div2>span.amal>span>p{
    color: #e3b840;
 }
 #div2>span.verd{
    background-color: #afe8e12e; 
 }
 #div2>span.verd>span{
    display: flex;
    align-items: center;
}
#div2>span.verd>span>p{
    color: #1fbba9;
 }
 #div2>span.azul{
    background-color: #2e37842f;
 }
 #div2>span.azul>span{
    display: flex;
    align-items: center;
}

#div2>span.azul>span>p{
   color: #071ac6;
}


#div2>span>p>strong{
  color: var(--preto);
}
#div2>span>p>em{
   font-style: normal;
   color: #313e59c6;
}